<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <%- include("bootstrap.ejs") %>
</head>

<body>
  <%- include("navbar.ejs") %>
  <div id="movies-array" data-movies="<%= JSON.stringify(data) %>" class="d-none"></div>
  <div id="movies-container" class="container">
    <div id="all-movies-row" class="row"></div>
  </div>

  <div id="movie-template" class="card d-none">
    <img src="..." class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
  </div>

  <nav id="movies-paginate" class="d-none" aria-label="Movies Page Results">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
  <script src="javascripts/index.js"></script>
</body>

</html>