<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>
    <%- include("bootstrap.ejs") %>
</head>

<body>
    <%- include("navbar.ejs") %>
    <div class="container">
        <div class="row">
            <div class="mx-auto d-block">
                <h1 class="text-center"><%= data.title %> <small
                        class="h6 text-muted text-left"><%= data.year %></small>
                </h1>
            </div>
        </div>
        <div class="row">
            <img src="<%= data.posterUrl %>" alt="<%= data.title %> Poster" class="rounded mx-auto d-block img-fluid">
        </div>
        <div class="row">
            <h3 class="text-center"><%= data.year %>, <%= data.genre %></h3>
        </div>
        <div class="row">
            <p class="text-center"><%= data.plot %></p>
        </div>
        <hr>
        <div class="row">
            <h5>Director: <%= data.director %></h2>
        </div>
        <div class="row">
            <h5>IMDB Rating: <%= data.imdbRating %> / 10.0</h4>
        </div>
    </div>
</body>

</html>